body{
    margin: 0;
    padding: 0;
}

#video-grid{
    display: flex;
    justify-content: center;
}

video{
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #FFF;
}

.main {
    height: 100vh;
    display: flex;
}

.main-left {
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.main-right {
    flex: 0.2
}

.main-videos {
    flex-grow: 1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.main-controls {
    background-color: #1C1E20;
}

.main-right {
    background-color: #242324;
    border-left: 1px solid #3D3D42;
}

.main-controls {
    color: #D2D2D2;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.main-controls-block {
    display: flex;
}

.main-controls-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main-controls-button:hover {
    background-color: #343434;
    border-radius: 5px;
}

.main-controls-button i {
    font-size: 24px;
}

.main-right {
    display: flex;
    flex-direction: column;
}

.main-header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main-chat_window {
    flex-grow: 1;
    overflow-y: auto;
}

.messages{
    color: white;
    list-style: none;
    padding: 0px 20px;
    font-size: 12px;
    max-width: 300px;
}

.main-message_container {
    padding: 22px 12px;
    display: flex;
}

.main-message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #F5F5F5;
}

.leave_meeting {
    color: #EB534B;
}

.unmute, .stop {
    color: #CC3B33;
}

.date-time{
    font-size: 10px;
    color: #8a8686;
}

.message-box{
    display: flex;
    justify-content: space-between;
}